html {
    scroll-behavior: smooth;
  }
body{
    min-height: 100;
    font-family: "Roboto Mono" !important;
}

.navbar-custom {
    background-color: black;
    color: white;
  
   
}

div.container{
    display: flex;
  justify-content: center;
  flex-direction: row;
}

.sticky-top.navbar-custom{
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.77);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.77);
}

.nav.navbar-nav.ml-auto li a {
    color: white;    
}

.popover{
z-index: inherit !important;
}

.nav.navbar-nav.ml-auto li a:hover {
    color: #499eff;
    transition: 0.5s;    
}


.navbar-brand
{
     border: thin solid white;
     padding: 0px 15px ;
     border-radius: 5px;
     
        }

    

      
.navbar-brand:hover
{
     border: thin solid #499eff;
     border-radius: 5px;
     transition: 0.5s;
     color: black !important;
     background-color: white;

   
}

.upperhold .navbar .navbar-brand{
    border: 0px;

}

.upperhold .navbar .navbar-brand:hover{
    border: 0px;
    background-color: black;
    color: white !important;}

h1{
    color: black;
    
}

.uppertextcontainer{
    height: 100%;
    min-height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}


.uppertext{

 font-size: 10vw; 
 
 color: black; 
 width: max-content;
 margin: 0; 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-70%, -50%);


 
}


.textpart{
     max-width: 1000px;
     padding: 20px;
     margin: 0 auto;
     
}

div.direction{
    display: block;
    position: relative;
    top: -80px;
    
}

textarea{
    width: 100%;
    border: 3px solid black;
    display: block;
    padding: 15px 5px 0px 5px;
    margin: 0px;
    background-color: white;  
}


#submitplace{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
}


#formalert{
    background-color: transparent;
    border: 0px;
}

  