html{
     scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: rgb(0,0,0,0.8);
    background-image: url("Images/KrHep80.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.ultimatebound{     
} 

div.stickittogether{
     background-color: rgb(0,0,0,0.8);
     
}

div.bgholder{
    background-image: url("Images/wallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;

    filter: blur(8px); 
   -webkit-filter: blur(8px);
}

div.centertext{
    position: absolute; 
    text-align: center;
    font-size: 100px;
    top: 15%;
    width: 100%;
 
     

    
}


div.alltextcontainer{
      width: 70%;
      margin: 0 auto 0 auto ;   
      background-color: rgb(40,42,53,0.6);  
     
      z-index: 4;
      
}

div.upperlist{
     position: absolute;
     top: 5px;
     right: 35px;

}

div.navtabholder{
     margin: 0px;
     width:100%;
     height: 60px;

     
}

div.navigationtab{
    /* position: relative; */
    margin: 0px;
    width:100%;
    height: 60px;

    z-index: 5;
   

    background-color: rgb(0,0,0,0.8);
    
}

div.navlist{
     position: absolute;
     right: 35px;
}


div.abouttext{
  
}

div.aboutimage{
    
     
    height: 25vw;
    width: auto;

    text-align: center;

    margin: 0 auto 0 auto;

    
}

div.aboutimage>img{
     
      height: 100%;
      width: auto;

      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      
      border: thick solid white;
      


}


div.handles{
     
      width: 100%;
      height: 150px;
      text-align: center;
      

}

div.facebook{
    
     width: 22%;
    float: left;
    margin: 1%;
}

div.instagram{
     width: 22%;
     float: left;
     margin: 1%;
}
div.twitter{
     width: 22%;
     float: left;
     margin: 1%;
}
div.github{
     width: 22%;
     float: left;
     margin: 1%;
}



div.texthere{
     margin: 0 40px 0 40px;
     
       
  
}

div.bottompart{
      background-color: rgb(0,0,0,0.8);
      width: 100%;
      
      text-align: center;
    
}

div.bottompart>p{

     padding: 15px;
     

}

.stickproperty{
     position: fixed;
     top: 0px;
}




li{
     display: inline;
     padding: 15px;
     
}

li:hover{
     color: orange;
     transition: 0.5s;  
}

h1{
     
     color: orange;

     
}

div.competitive a:visited,div.competitive a:link,div.competitive a:focus {
    
     color: white;
     text-decoration: none;
          
}



ul>a:visited ,ul>a:link , ul>a:focus{
     color: white;
     text-decoration: none;
}

a:visited ,a:link , a:focus{
     color: orange;
     text-decoration: none;
}


div.competitive li{
     display: list-item;
     
}

div.competitive li:hover{
     color: white;
}