html {
    scroll-behavior: smooth;
  }
body{
    min-height: 100;
    font-family: "Roboto Mono" !important;
}

.navbar-custom {
    background-color: black;
    color: white;
}

.nav.navbar-nav.ml-auto li a {
    color: white;    
}

.nav.navbar-nav.ml-auto li a:hover {
    color: rgb(82, 144, 216);
    transition: 0.5s;    
}


.navbar-brand
{
     border: thin solid white;
     padding: 0px 15px ;
     border-radius: 5px;
}

.navbar-brand:hover
{
     border: thin solid rgb(82, 144, 216);
     border-radius: 5px;
     transition: 0.5s;
     color: black !important;
     background-color: white;

   
}

h1{
    color: black;
}

.uppertext{
 height: 100%;
 min-height: 500px;
 text-align: center;
 box-sizing: border-box;   
 padding-top: 50px;
}

.uppertext>p  {
    
    font-size: 10vw;
    color: black; 
     
     
}

.textpart{
     max-width: 900px;
     padding: 20px;
     margin: 0 auto;
     
}

div.direction{
    display: block;
    position: relative;
    top: -80px;
    
}

textarea{
    width: 100%;
    border: 3px solid black;
    display: block;
    padding: 15px 5px 0px 5px;
    margin: 0px;
    background-color: white;  
}


#submitplace{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
}


#formalert{
    background-color: transparent;
    border: 0px;
}

#alertattach{
     display: none;
}

.changevisibility{
    
    width: 100%;
    display: inline-block !important; 
  
}

.transition{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
  }
 